# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration (MongoDB Atlas or Local MongoDB)
MONGODB_URI=mongodb+srv://thanish:thanish%401234@cluster0.vxibfsk.mongodb.net/manivtha_tours?retryWrites=true&w=majority&appName=Cluster0
# JWT Authentication Secret
JWT_SECRET=1a85a14fb8f44e45355c12bd94a66c258a587fdad2cc530a4157a63ef5248abb